input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #303030 inset !important;
}
input:-webkit-autofill{
  -webkit-text-fill-color: white !important;
}
.margin {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.textWhite {
  color: white;
}

.inputDark{
  color: white;
  background-color: #303030;
}
.center {
  text-align: center;
}

.error404div {
  text-align: center;
}
.error404img {
  width: 30%;
  text-align: center;
}
body {
  background-color: #303030;
}